{% extends "MC12SubscriptionBundle:Common:layout.html.twig" %}

{% block title %}{{ parent() }} - Checkout {% endblock %}

{% block body %}

    <h3>Commande validée !</h3>
    <p>Nous avons le plaisir de vous annoncer que votre commande est validée. Ceci ne consitue pas une validation d'inscription.
        Nous reviendront vers vous au plus vite ! </p>

{% endblock %}
