<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Template</title>
</head>
<body>
Bonjour {{ subscription.competitor.firstname }}, <br />
<br/>
Nous avons le plaisir de vous annoncer que votre commande pour la course {{ subscription.race.name }} a été validé !<br/>
<br/>
Cet email n'est pas une confirmation d'inscription, cette dernière interviendra dans un second temps. <br/>
<br/>

<br/>
L'équipe du MC12

</body>
</html>
