{# src/MC12/UserBundle/Resources/views/Security/login.html.twig #}

{% extends "@MC12Core/mainlayout.html.twig" %}
{% block body %}
    <div class="row">
            <div class="col m6 s12 z-depth-4 offset-m3 card-panel">
                {% if error %}
                    <div class="alert alert-danger">{{ error.message }}</div>
                {% endif %}
                <form action="{{ path('login_check') }}" method="post">
                    <div class="row margin">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="username" name="_username" type="text" value="{{ last_username }}">
                            <label for="username" class="center-align">Username</label>
                        </div>
                    </div>
                    <div class="row margin">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">vpn_key</i>
                            <input id="password" name="_password" type="password">
                            <label for="password" class="center-align">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <button class="btn waves-effect waves-light col s12" type="submit" value="Login">login</button>
                        </div>
                    </div>
                </form>
            </div>
    </div>
{% endblock %}