{% extends "MC12CoreBundle::mainlayout.html.twig" %}

{% block nav %}
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">ADMIN MC12</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{{ path('mc12_admin_races') }}">Races</a></li>
                <li><a href="{{ path('mc12_admin_user') }}">Users</a></li>
            </ul>
        </div>
    </nav>
    {% block body %}
    {% endblock %}
{% endblock %}

