<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Template</title>
</head>
<body>
Bonjour {{ subscription.competitor.firstname }}, <br />
<br/>
Nous avons le plaisir de vous annoncer que votre inscription à {{ subscription.race.name }} a été validé !<br/>
<br/>
Nous sommes impatients de vous accueillir dans notre belle région ! <br/>
<br/>
L'équipe du MC12

</body>
</html>
